<div class="col-md-3 px-1 mx-1 pt-1 d-none d-md-block">
	<div class="sidebar">
		<h5>Navigate Somewhere...</h5>
		<p>Insert a profound quote or inspirational message here. Between running SQL and running Atlanta hills, all I have is a 404.</p>
		<ul class="nav flex-column">
			<a class="nav-link" href="/log">Log a Workout</a>
			<a class="nav-link" href="/report">Punch Some Stats</a>
		</ul>
		<hr>
	</div>
</div> 