<!-- Modal -->
<div class="modal" id="success" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Workout ✔</h5>
      </div>
      <div class="modal-body">
        <i>Run</i> along now and get some more workouts in
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary">Awesome Sauce</button>
      </div>
    </div>
  </div>
</div>