<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</style>
</head>
<body>
  <%- include('partials/nav',{page: 'report'}) %>
  <main class="container-fluid ">
    <div class="row flex-row-reverse flex-sm-row-reverse">
      <%- include('partials/sidebar') %>
      <div class="col-md-8 mx-1 pt-1">
        <article>
          <h1><%= title %></h1>
          <p class="lead">The two mile walk you did do is better than the four mile run you did not</p>
          <form id="workout-questions">
            <div class="custom-control custom-control-inline custom-radio-switch d-flex w-100 justify-content-center">
              <input id="run-radio" type="radio" name="type" value="run" checked data-bind="checked: type" />
              <label for="run-radio">Run</label>
              <input id="spin-radio" type="radio" name="type" value="spin" checked data-bind="checked: type" />
              <label for="spin-radio">Spin</label>
              <input id="lift-radio" type="radio" name="type" value="lift" checked data-bind="checked: type" />
              <label for="lift-radio">Lift</label>
            </div>
            <div class="form-group row">
              <label for="workout_date" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" name="workout_date" data-bind="value: workout_date, valueUpdate: 'afterkeydown'" />
              </div>
            </div>
            <section class="cardio-questions" data-bind="visible: type()!='lift'">
              <% include ./partials/log-cardio %>
            </section>
            <section class="lift-questions" data-bind="foreach: lifts, visible: type()==='lift'">
              <% include ./partials/log-lift %>
              </section>
              <div class="form-group row flex-column align-items-center">
              <a href="#" data-bind="click: $root.addlift, visible: type()==='lift'">Add Another Lift</a>
              <button type="submit" class="btn btn-primary mt-3">Log Workout</button>
            </div>
            </form>
          </article>
        </div> <!-- col --> 
      </div>
    </main> <!-- container-fluid -->
    <div>
      <hr>
      <h4>Your Workout...</h4>
      <ul>
        <li data-bind="text: type"></li>
        <li data-bind="text: workout_date"></li>
        <li data-bind="text: duration"></li>
        <li data-bind="text: distance"></li>
        <li data-bind="text: power"></li>
        <li data-bind="text: rank"></li>
        <li> 
          <ul data-bind="foreach: lifts">
            <li>
              <span data-bind="text: lift_type"> </span> | 
              <span data-bind="text: weight"> </span> | 
              <span data-bind="text: reps"> </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script src="javascripts/log.js"></script>
  </body>
  </html>