<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head') %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<%- include('partials/nav',{page: 'report'}) %>
	<main class="container-fluid ">
		<div class="row flex-row-reverse flex-sm-row-reverse">
			<%- include('partials/sidebar') %>
			
			<div class="col-md-8 mx-1 pt-1">
				<article>
					<h1><%= title %></h1>
					<p class="lead">Focused on your focus</p>
					<div class="nav nav-pills nav-justified">
						<a class="nav-item nav-link active" id="nav-chart-spin" data-toggle="tab" href="#chart-spin" role="tab" aria-controls="nav-chart-spin" aria-selected="true">Spin</a>
						<a class="nav-item nav-link" id="nav-chart-spin-perf" data-toggle="tab" href="#chart-spin-perf" role="tab" aria-controls="nav-chart-spin-perf" aria-selected="false">Spin Performance</a>
						<a class="nav-item nav-link" id="nav-chart-run" data-toggle="tab" href="#chart-run" role="tab" aria-controls="nav-chart-run" aria-selected="false">Run</a>
						<a class="nav-item nav-link" id="nav-chart-lift" data-toggle="tab" href="#chart-lift" role="tab" aria-controls="nav-chart-lift" aria-selected="false">Lifts</a>
						<a class="nav-item nav-link" id="nav-chart-lift-month" data-toggle="tab" href="#chart-lift-month" role="tab" aria-controls="nav-chart-lift-month" aria-selected="false">Lifts Monthly</a>
					</div>
					<div class="card mt-1 mb-1 h-100">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="chart-spin" role="tabpanel" aria-labelledby="nav-chart-spin">
								<canvas></canvas>
								<div class="card-body">
									<hr>
									<h4 class="lead">The SQL Query</h4>
									<code>
										SELECT w.workout_date, c.duration, c.power, c.rank<br>
										FROM cardio AS c<br>
										INNER JOIN (<br>
										SELECT * from workouts <br>
										WHERE workout_date > DATE_ADD(curdate(), INTERVAL '-4' MONTH)<br>
										AND workout_type = 'cardio'<br>
										ORDER BY workout_date DESC<br>
										LIMIT 100<br>
										) AS w<br>
										ON c.workout_id = w.workout_id<br>
										WHERE c.cardio_type = 'spin'<br>
										ORDER BY w.workout_date DESC<br>
										LIMIT 10;<br>	
									</code>
									<hr>
									<h4 class="lead">The JSON Results</h4>
									<a class="link-text" href="/api/spin">Click to view endpoint >></a>
								</div>
							</div>
							<div class="tab-pane fade" id="chart-spin-perf" role="tabpanel" aria-labelledby="nav-chart-spin-perf">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Month</th>
											<th scope="col">Total Duration</th>
											<th scope="col">Avg Power</th>
											<th scope="col">Avg Rank</th>
											<th scope="col">Max Power</th>
										</tr>
									</thead>
								</table>
								<div class="card-body">
									<hr>
									<h4 class="lead">The SQL Query</h4>
									<code>
										SELECT DATE_FORMAT(w.workout_date, '%m') AS month, SUM(c.duration), AVG(c.power), AVG(c.rank), MAX(c.power)<br>
										FROM cardio AS c<br>
										INNER JOIN (<br>
										SELECT * from workouts <br>
										WHERE workout_date >= date_add(DATE_FORMAT(curdate(), '%Y-%m-01'), INTERVAL '-6' MONTH)<br>
										AND workout_type = 'cardio'<br>
										ORDER BY workout_date DESC<br>
										) AS w<br>
										ON c.workout_id = w.workout_id<br>
										WHERE c.cardio_type = 'spin'<br>
										AND w.workout_date > '2017-12-01'<br>
										GROUP BY month;<br>
										SELECT AVG(c.power) AS lifetime_avg_power, AVG(c.rank) AS lifetime_avg_rank<br>
										FROM cardio AS c<br>
										WHERE c.cardio_type = 'spin';<br>
									</code>
									<hr>
									<h4 class="lead">The JSON Results</h4>
									<a class="link-text" href="/api/spin/perf">Click to view endpoint >></a>
								</div>
							</div>
							<div class="tab-pane fade" id="chart-run" role="tabpanel" aria-labelledby="nav-chart-run">
								<canvas></canvas>
								<div class="card-body">
									<hr>
									<h4 class="lead">The SQL Query</h4>
									<code>
										SELECT w.workout_date, c.duration, c.distance, c.duration/c.distance AS pace<br>
										FROM cardio AS c<br>
										INNER JOIN (<br>
										SELECT * from workouts<br>
										WHERE workout_date > DATE_ADD(curdate(), INTERVAL '-12' MONTH)<br>
										AND workout_type = 'cardio'<br>
										ORDER BY workout_date DESC<br>
										LIMIT 100<br>
										) AS w<br>
										ON c.workout_id = w.workout_id<br>
										WHERE c.cardio_type = 'run'<br>
										ORDER BY w.workout_date DESC<br>
										LIMIT 10;<br>		
									</code>
									<hr>
									<h4 class="lead">The JSON Results</h4>
									<a class="link-text" href="/api/run">Click to view endpoint >></a>
								</div>
							</div>
							<div class="tab-pane fade" id="chart-lift" role="tabpanel" aria-labelledby="nav-chart-lift">
								<canvas></canvas>
								<div class="card-body">
									<hr>
									<h4 class="lead">The SQL Query</h4>
									<code>
										SELECT l.lift_type, w.workout_date, l.reps, l.weight<br>
										FROM lift AS l<br>
										INNER JOIN (<br>
										SELECT * from workouts <br>
										WHERE workout_date > DATE_ADD(curdate(), INTERVAL '-4' MONTH)<br>
										ORDER BY workout_date DESC<br>
										LIMIT 10<br>
										) AS w<br>
										ON l.workout_id = w.workout_id<br>
										ORDER BY w.workout_date;<br>
									</code>
									<hr>
									<h4 class="lead">The JSON Results</h4>
									<a class="link-text" href="/api/lift/recent">Click to view endpoint >></a>
								</div>
							</div>
							<div class="tab-pane fade" id="chart-lift-month" role="tabpanel" aria-labelledby="nav-chart-lift-month">
								<canvas></canvas>
								<div class="card-body">
									<hr>
									<h4 class="lead">The SQL Query</h4>
									<code>
										SELECT DATE_FORMAT(w.workout_date, '%Y-%m') AS month, SUM(l.weight * l.reps) AS all_the_pounds<br>
										FROM lift AS l<br>
										INNER JOIN workouts AS w<br>
										ON l.workout_id = w.workout_id<br>
										WHERE w.workout_date >= date_add(DATE_FORMAT(curdate(), '%Y-%m-01'), INTERVAL '-6' MONTH)<br>
										GROUP BY month;	<br>
									</code>
									<hr>
									<h4 class="lead">The JSON Results</h4>
									<a class="link-text" href="/api/lift/lastMonths">Click to view endpoint >></a>
								</div>
							</div>
						</div> <!-- tab content -->
					</div><!-- card -->
				</article>
			</div><!-- col -->
		</div>
	</main> <!-- container-fluid -->
	<script src="javascripts/report.js"></script>
</body>
</html>